@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    overflow: hidden;
}

main {
    @apply relative w-screen h-screen flex flex-col items-center justify-center -mt-[74px];
}

h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: left;
}

h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
}

.card-shadow {
    box-shadow: 0px 4px 8px 0px rgba(41, 41, 41, 0.08);
}

nav > ul > li > * {
    @apply px-4 py-2 hover:bg-white hover:bg-opacity-20 rounded-lg
}

input {
    display: flex;
    padding: 14px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    border-radius: 8px;
    border: 1px solid var(--main-colors-gray-05, #909090);
    background: var(--White, #FFF);

    min-width: 420px;
}